h1{
  font-size: 50px;
  text-align: center;
}

body{
  background-color: #2B303A;
  overflow-x: hidden;
  padding-bottom: 0px !important;
}

.TitleBar {
  margin-top: 20px;
  height: 100px;
  width: 100%;
  color: white;
}

.App {
  width: 100vw;
  height: 100vh;
}


