h3{
    margin: none;
}

.pageContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right:0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer{
    color: white;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 700px;
    height: 900px;
    background-color: #2B303A;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
    padding-left: 100px;
}

.materialContainer{
    display: flex;
    justify-content: space-evenly;
}

.materialHeaders{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.section{
    width: 25%;
    text-align: left;
    padding-bottom: 10px;
}