.HistoryInfoWrapper{
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.HistoryInfo{
    background-color: #191D23;
    width: 47.5%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

.historySearchWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40%;
    padding-right: 40%;
}