.Preset {
  background-color: #191d23;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  padding: 20px;
  color: white;
  position: relative;
  margin: 15px;
}

.PresetTitle {
  font-size: 32px;
}

.EditImg {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  transition: 200ms;
}

.EditImg:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.ImgEdit {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.left {
  right: auto !important;
  left: 10px !important;
}

.ImgX {
  height: 35px !important;
  width: 35px !important;
  padding: 7.5px;
}

.ImgLeft {
  height: 35px !important;
  width: 35px !important;
  padding: 7.5px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 10px;
  right: calc(50%);
}

.ImgRight {
  height: 35px !important;
  width: 35px !important;
  padding: 7.5px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 10px;
  left: calc(50%);
}

.WindowContainer {
  background-color: #2b303a;
  width: 700px;
  height: 80vh;
  padding: 20px;
  border-radius: 10px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.WindowContainer::-webkit-scrollbar {
  width: 10px;
}

.WindowContainer::-webkit-scrollbar-track {
  background: transparent;
}

.WindowContainer::-webkit-scrollbar-thumb {
  background: #191d23;
  border-radius: 10px;
}
