.submitBtn{
    margin-top: 30px;
}

.boxAndLable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.formContainer{
    background-color: #2B303A;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    margin-left: 50px;
    position: relative;
    text-align: center;
}

.exit{
    position: absolute;
    bottom: -45px;
    left: 145px;
}

.error{
    margin: none;
    padding: none;
    text-align: left;
    color: red;
    width: 90%;
    margin-left: 10%;
}

.customBox{
    margin-right: 0px !important;
    width: 100% !important;
}

@media (max-width: 1235px) {
    .formContainer{
        margin-left: 0px;
        margin-top: 80px;
    }
}